<!DOCTYPE html>
<html lang="en" class="hydrated"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Phân loại chất lượng dừa (non, nạo, khô)</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='products.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <header>
    <a href="#"><img src="{{ url_for('static', filename='logo.png') }}" class="logo"></a>
    <div class="menu-btn"></div>
    <div class="navigation">
        <div class="navigation-items">
            <a href="/">Trang Chủ</a>
            <a href="/products">Sản Phẩm</a>
            <a href="/aboutus">Nhóm Phát Triển</a>
            <button class="btnLogin-popup" onclick="window.location.href = '/login'">Đăng Nhập</button>
        </div>
    </div>
  </header>
  <section class="home">
    <form method="post" action="/products" enctype="multipart/form-data">
      <div class="upload">
        <label for="input-file" id="drop-area">
          <input type="file" accept="image/*" name="file" id="input-file" hidden>
          <div id="img-view">
            <img id="uploaded-image" src="{{ url_for('static', filename='iconupload.png') }}">
            <p>Kéo và thả hoặc bấm vào đây<br>để tải ảnh lên</p>
            <span>Tải bất kì ảnh từ máy lên</span>
          </div>
        </label>
      </div>
      <button id="toggle-camera" class="camera-button" type="button">Bật Camera</button>
      <button id="toggle-upload" class="camera-button" style="display: none;" type="button">Tải ảnh</button>
      <div id="camera-container" style="display: none;">
        <button id="take-photo" class="custom-camera-button" type="button">
          <img src="{{ url_for('static', filename='capture.png') }}" alt="Chụp ảnh">
        </button>
        <video id="camera-view" autoplay="" muted=""></video>
        <img id="captured-photo" alt="Ảnh đã chụp" style="display: none;">
      </div>
      {% if coconut_type %}
        <div id="result" style="font-family: 'Arial', sans-serif; color: blue;">
          Kết quả dự đoán: {{ coconut_type }}
        </div>
      {% endif %}
      <button id="predict-button" class="predict-button" name="predict" type="submit">Dự đoán</button>
      <input type="hidden" id="captured-image-data" name="captured-image-data">
    </form>
    <div class="media-icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
    </div>
  </section>

  <script type="text/javascript">
    // JavaScript cho thanh điều hướng phản hồi
const menuBtn = document.querySelector(".menu-btn");
const navigation = document.querySelector(".navigation");

menuBtn.addEventListener("click", () => {
  menuBtn.classList.toggle("active");
  navigation.classList.toggle("active");
});

</script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="{{ url_for('static', filename='products.js') }}"></script> 
</body>
</html>